:root {
    --background: rgb(255, 255, 255);
    --sub_title-color:#333333;
    --title-color:#333333;
    --text-color:#B6B6B6;
}
body {
    background-color: var(--background);
}
:root {
  --main-font: "Montserrat", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Kaushan Script", sans-serif;
}